.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// FONTS
$mon: "Montserrat";
$gar: "EB Garamond";

// COLORES
$purple: #a64ac9;
$yellow: #fccd04;
$peach: #ffb48f;
$lightPeach: #f5e6cc;
$teal: #17e9e0;
$red: #cc0000;
$lightGrey: rgba(0, 0, 0, 0.06);

$mustard: #e1d651;
$tomato: #ffb9b4;
$sand: #c2c2b2;
$lightSand: #e8e9d0;
$lightBlue: #b3d8e4;

// ADS
.ads {
  display: table;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.02);
}

// HEADINGS
h1.titleCat {
  display: table;
  font-size: 4rem;
  line-height: 1.2;
  margin: 0 0 40px 0;
  padding: 0;
  border-bottom: 8px solid $purple;
}

// ITEMS
.item {
  height: 300px;
  overflow: hidden;
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #213439;
    .data {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
      text-align: center;
      padding: 10px;
      transition: 0.3s;
      &.redcircle {
        background-color: rgba($red, 1);
      }
      &.sand {
        background-color: rgba($sand, 1);
      }
      &.tomato {
        background-color: rgba($tomato, 1);
      }
      &.mustard {
        background-color: rgba($mustard, 1);
      }
      &.lightblue {
        background-color: rgba($lightBlue, 1);
      }
      &.lightSand {
        background-color: rgba($lightSand, 1);
      }
      h3 {
        font-family: $gar;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 1;
        margin: 0;
        padding: 0 0 8px 0;
      }
      span.cat {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
    .thumb {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
      }
    }
    &:hover {
      .data {
        opacity: 0;
      }
    }
  }
  &.redcircle {
    border-radius: 50%;
    overflow: hidden;
  }
}
