$phone: "(max-width: 480px)";
$tablet-portrait: "(max-width: 767px)";
$tablet-landscape: "(min-width: 768px) and (max-width: 979px)";
$desktop: "(min-width: 980px) and (max-width: 1119px)";
$large-desktop: "(min-width: 780px)";

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}
